.left-column {
    /* background-color: red; */
    height: 250px;
}
.right-column {
    background-color: grey;
    height: 250px;
}

@media (min-width: 576px ) {
    .left-column, .right-column {
        font-size: 20px;
    }
}

@media (max-width: 575.99px ){
    .left-column, .right-column {
        font-size: 20px;
    }
}