<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['']" >Yesenia Cardenas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <button><a class="nav-link" target="_blank" href="https://github.com/YeseniaEC">
          <i class="fa-2x fab fa-github"></i>
        </a></button>
      </li>
      <li class="nav-item">
        <button>
          <a class="nav-link" target="_blank" href="https://codepen.io/yesenia2500/">
            <i class="fa-2x fab fa-codepen"></i>
          </a>
        </button>
      </li>
      <li class="nav-item">
        <button>
          <a class="nav-link" target="_blank" href="https://twitter.com/complanguage">
            <i class="fa-2x fab fa-twitter-square"></i>
          </a>
        </button>
      </li>
    </ul>
  </div>
</nav>