<nav class="navbar fixed-bottom navbar-dark bg-info">
  <a class="navbar-brand" [routerLink]="['']"><i></i></a>
<ul class="navbar-nav ml-auto d-flex flex-row bd-highlight">
    <li class="nav-item p-2 bd-highlight">
      <a class="nav-link" target="_blank" href="https://github.com/YeseniaEC">
        <i class="fa-2x fab fa-github"></i>
      </a>
    </li>
<li class="nav-item p-2 bd-highlight">
      <a class="nav-link" target="_blank" href="https://codepen.io/yesenia2500/">
        <i class="fa-2x fab fa-codepen"></i>
      </a>
    </li>
<li class="nav-item p-2 bd-highlight">
      <a class="nav-link" target="_blank" href="https://twitter.com/complanguage">
        <i class="fa-2x fab fa-twitter-square"></i>
      </a>
    </li>
  </ul>
</nav>
