@import url('https://fonts.googleapis.com/css?family=Rokkitt');

.rokkitt {
  font-family: 'Rokkitt', cursive;
}
blockquote {
  font-style: italic;
}

.container {
  height: max-content;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-content: center;
}
.grid_item {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.avatar_div {
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: row;
}

.avatar {
  display: inline-flex;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  /* background-color: #777; */
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px #eee;
  justify-content: center;
  max-height: 300px;
}
.border {
  border: 1px solid #ccc !important;
}
.avatar-user {
  border-radius: 50% !important;
}
.about_text {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 30px;
  text-align: left;
}
.about_div {
  height: fit-content;
  overflow-y: hidden;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .avatar {
    max-height: 250px;
  }
  .about_div, .about_text {
    text-align: center;
    margin-top: 10px;
  }
  .container {
    margin-top: 10px;
  }
  blockquote {
    font-size: 16px;
  }
}
