<!-- <div class="container d-flex">
  <div class="image ">
    <img src="../../../assets/images/headshot.JPG" alt="Picture of Yesenia Cardenas" id="image" class="round_image">
  </div>
  <div class="about_me">
    <p class="title">Yesenia</p>
    <p class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias excepturi enim harum porro omnis sed natus, nihil ea, placeat laboriosam, ullam ducimus aliquam vitae quod suscipit vel iure officia nobis.</p>
  </div>
</div> -->

<div class="container">
  <div class="position-relative d-inline-block col-md-6 col-lg-4 col-xs-12 mr-3 mr-md-0 flex-shrink-0 float-left avatar_div" style="z-index:4;">
    <a itemprop="image" href="../../../assets/images/headshot.JPG">
      <img style="height:auto;" alt="../../../assets/images/headshot.JPG" width="300" height="300" class="avatar avatar-user border color-bg-primary" src="https://avatars.githubusercontent.com/u/18320364?v=4">
    </a>
  </div>
  <div class="position-relative d-inline-block col-md-6 col-lg-8 col-xs-12 about_div text-wrap">
    <section class="about_text">
      <p>Hello, I am Yesenia Cardenas and I am currently a Full-Stack Developer at MiC Software, LLC. I specialize in finding all the possible ways
         something does not work. I love writing code and exploring the endless possibilities. I love tinkering with electronics and learning new technology. I also like to spend time playing video games, creating art, and being with family and friends.
      </p>
    </section>
  </div>
</div>
