<div class="container">
  <div class="avatar_div grid_item" style="z-index:4;">
    <a href="../../../assets/images/headshot.JPG">
      <img alt="../../../assets/images/headshot.JPG" class="avatar avatar-user color-bg-primary" src="https://avatars.githubusercontent.com/u/18320364?v=4">
    </a>
  </div>
  <div class="grid_item about_div text-wrap">
    <section class="about_text">
      <p>Hello, I am Yesenia Cardenas and I am currently a Full-Stack Developer at MiC Software, LLC. I specialize in finding all the possible ways
         something does not work. I love writing code and exploring the endless possibilities. I love tinkering with electronics and learning new technology. I also like to spend time playing video games, creating art, and being with family and friends.
      </p>
    </section>
    <blockquote class="rokkitt">“You Don’t Have to Know Everything. You Just Have to Know Where to Find It.” - Albert Einstein</blockquote>
  </div>
</div>
