<div class="container-fluid hero">
  <div class="jumbotron jumbotron-fluid image-overlay">
    <div class="container-fluid text-center hero-text">
      <h1 class="display-5 raleway" style="font-weight: 800;">Yesenia Cardenas</h1>
      <p class="lead raleway">Full-Stack Developer</p>
      <blockquote class="rokkitt">"A person who never made a mistake never tried anything new."- Albert Einstein.</blockquote>
      <a [routerLink]="['projects']"><button mat-raised-button class="btn btn-info">View my work</button></a>
    </div>
  </div>
</div>
