<div class="container-fluid hero">
  <div class="jumbotron jumbotron-fluid image-overlay">
    <div class="container-fluid text-center hero-text">
      <h2 class="display-5 lobster">Yesenia Cardenas</h2>
      <p class="lead raleway">Aspiring Developer</p>
      <blockquote class="rokkitt">"A person who never made a mistake never tried anything new."- Albert Einstein.</blockquote>
      <p class="text-center raleway">
        Hello, I am Yesenia Cardenas and I am an aspiring Developer. I specialize in finding all the possible ways
        something
        does not work. I love writing code and exploring the endless possibilities. Learning something new every day
        while
        trying my best to make a difference.
      </p>
      <a [routerLink]="['projects']"><button mat-raised-button color="primary" class="btn btn-info">View my Projects</button></a>
    </div>
  </div>
</div>
<div class="header-text text-center about-me-sm">
  <h3 class="text-center lobster">
    Yesenia Cardenas
  </h3>
  <p class="lead text-center raleway">Aspiring Developer</p>
  <blockquote class="rokkitt">"A person who never made a mistake never tried anything new." - Albert Einstein.</blockquote>
  <p class="text-center raleway">
    Hello, I am Yesenia Cardenas and I am an aspiring Developer. I specialize in finding all the possible ways
    something
    does not work. I love writing code and exploring the endless possibilities. Learning something new every day while
    trying my best to make a difference.
  </p>
  <a [routerLink]="['projects']"><button mat-raised-button color="primary" class="btn btn-info">View my Projects</button></a>
</div>
