@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway|Rokkitt');

/* Fonts */

.lobster {
  font-family: 'Lobster', cursive;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.rokkitt {
  font-family: 'Rokkitt', cursive;
}

.display-5 {
  padding-top: 15%;
}

.image-overlay {
  background-color: #E9DDDD;
  height: inherit;
  position: absolute;
  top: 10;
  left: 0;
  width: 40%;
}

.hero {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
  url('../../../assets/images/robots.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* Quote  */

blockquote {
  font-style: italic;
}
.my_button {
  background-color: #000;
  color: #E9DDDD;
}
.my_button:active {
  background-color: #E9DDDD;
  color: #000;
}

.grid_container {
  padding-top: 5%;
  width: 100%;
  list-style: none;
  margin-left: 0;
  padding: 5px;
  display: grid;
  justify-content: center;
  align-items: start;
  gap: 2.5em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
}

.container-fluid {
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-content: center;
}
.grid_item {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section {
  display: inline-flex;
  align-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .grid_container {
    text-align: center;
    height: 75vh;
  }
  .grid_background {
    background-color: #000;
    color: rgb(233,221,221);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }
  blockquote {
    font-size: 19px;
  }
  .display-5 {
    padding-top: 0;
  }

}

@media (min-width: 769px) {
  .grid_background {
    background: linear-gradient(to bottom, rgba(233, 221, 221, 0.55), rgba(255, 255, 255, 1.5)),
  url('../../../assets/images/robots.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  }
}
