<div class="container">
  <div>
    <div class="grid_item_title">
      <h2 class="d-flex justify-content-center align-items-center">Projects</h2>
    </div>
  </div>
  <div class="grid_container">
    <div class="grid_item spotlight_card">
      <article class=" project_card">
        <img class="card_image" src="../../../assets/images/engne_project.jpg" alt="Photo of intro to angular">
        <div class="card_detail">
          <h5 class="card_title">Engne</h5>
          <p class="card_sub">MEAN stack</p>
          <p class="card_description">
             Custom tool to manage company morale, and offer incentives to employees. Built using the MEAN tech stack.
          </p>
        </div>
        <div class="card_footer">
          <a class="card_link" target="_blank" href="https://engne.co">
            <button mat-button>View</button></a>
        </div>
      </article>
    </div>
    <div class="grid_item">
      <article class="project_card">
        <img class="card_image" src="../../../assets/images/api.png" alt="screenshot of Api Challenge project">
        <div class="card_detail">
          <h5 class="card_title">Api Challenge</h5>
          <p class="card_sub">TypeScript</p>
          <p class="card_description">
            This website displays results from an open source api, USAJobs. Use of observables and simple routing.
          </p>
        </div>
        <div class="card_footer">
          <a class="card_link" href="https://github.com/YeseniaEC/api-challenge" target=" _blank">
            <i class="fa-2x fab fa-github"></i>
          </a>
        </div>
      </article>
    </div>
    <div class="grid_item">
      <article class="project_card">
        <img class="card_image" src="../../../assets/images/challenge.png" alt="screenshot of angular challenge project">
        <div class="card_detail">
          <h5 class="card_title">Angular Challenge</h5>
          <p class="card_sub">TypeScript</p>
          <p class="card_description">
            This website focuses on the implementation of routing, custom classes, custom interfaces, and *ngFor.
          </p>
        </div>
        <div class="card_footer">
          <a class="card_link" target="_blank" href="https://angular-challenge1.firebaseapp.com/"><button mat-button>View</button></a>
          <a class="card_link" href="https://github.com/YeseniaEC/AngularChallenge" target=" _blank">
            <i class="fa-2x fab fa-github"></i>
          </a>
        </div>
      </article>
    </div>
    <div class="grid_item">
      <article class="project_card">
        <img class="card_image" src="../../../assets/images/intro-ng.png" alt="Photo of intro to angular">
        <div class="card_detail">
          <h5 class="card_title">Intro to Angular</h5>
          <p class="card_sub">TypeScript</p>
          <p class="card_description">
            This website was an exploration of Angular. Created mini apps on different pages.
          </p>
        </div>
        <div class="card_footer">
          <a class="card_link" target="_blank" href="https://angular-intro-8abe1.firebaseapp.com/"><button mat-button>View</button></a>
          <a class="card_link" href="https://github.com/YeseniaEC/angular-intro" target=" _blank">
            <i class="fa-2x fab fa-github"></i>
          </a>
        </div>
      </article>
    </div>
  </div>
</div>
