<div class="container pb-4">
  <div class="grid_item_title resume_title">
    <h2 class="d-flex justify-content-center align-items-center">Resume</h2>
  </div>
  <div>
    <article class="resume_card">
      <section class="left_section grid_container">
        <!-- Left Section -->
        <div class="grid_item info_section">
          <h2 style="font-weight: 800;">Yesenia <span>Cardenas</span></h2>
          <p class="pt-5" style="font-style: italic; color: #777;">Full-Stack Developer</p>
          <p style="color: #777; font-style: italic;">Location - California, USA</p>
          <p class="pt-5" style="font-weight: 800;">Skills</p>
          <ul class="bullet_point_list pt-1 pl-15" >
            <li>.NET and .NET Core (C#)</li>
            <li>ASP.NET, EF Core</li>
            <li>Xamarin Forms</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>React.js</li>
            <li>API Integration</li>
            <li>MS SQL, Azure SQL</li>
            <li>Azure DevOps</li>
            <li>Node.js, MongoDB, Mongoose</li>
            <li>Git, Github, Visual Studio</li>
          </ul>
        </div>

        <!-- Right Section -->
        <div class="grid_item">
          <p style="font-size: 20px; font-weight: 800;">Experience</p>
          <p style="font-weight: 800;">MiC Software, LLC</p>
          <ul class="bullet_point">
            <li>Engne - Developed a custom tool to manage company morale, and offer incentives to employees. Increased participation and communication frequency by ~20%. Built from the ground up using the MEAN stack, integrated CI/CD with Azure DevOps.</li>
            <li>Apphub - Multi-tenant driven e-commerce system (SaaS). Written using Angular with a .NET Core/ C# backend, and integrated with Azure DevOps and Azure SQL. Additionally constructed a cross-platform mobile app using Xamarin Forms.</li>
            <li>NoGi - Platform provides the business remote video conferencing for an engaging customer experience. Built from scratch with Angular, .NET Core/C#, ASP.NET MVC, and Azure SQL.</li>
            <li>BVS - Operated with existing services to provide some needed immediate upgrades while developing a new internal codebase using Xamarin/C#, React.js, ASP.NET, and MS SQL.</li>
          </ul>
          <p style="font-weight: 800;">Teachers Assistant - Geekwise Academy</p>
            <ul class="bullet_point">
              <li>Ensured student’s knowledge of the mobile-first website concepts, focusing on Bootstrap 3 and use of version control with Git & Github.</li>
              <li>Women's Cohort Advisor: Led junior developers in establishing their skills in HTML, CSS, and JavaScript. Assisted in finding their strengths and helping envision their community-focused projects.</li>
            </ul>
          <p style="font-size: 20px; font-weight: 800;">Education</p>
          <p style="font-weight: 800;">Geekwise Academy</p>
            <ul class="bullet_point">
              <li>Websites for Beginners (HTML & CSS), Mobile-friendly Websites, Intro to JavaScript, Women Tech Training, Application Security & Hardening, Angular 6, WordPress</li>
            </ul>
          <p style="font-weight: 800;">DeVry University</p>
            <p>A.S. Electronics and Computer Technology 2011-2013</p>
            <p>B.S. Technical Management 2013-2014</p>
          <p style="font-size: 20px; font-weight: 800;">Projects</p>
            <ul class="bullet_point">
              <li>Developed a simple vulnerable blog app for testing inside a container using Docker. Took small implementations to harden different aspects of the app, from using Content-Security-Policy to using encryption in sensitive user input fields, resulting in a secure app.</li>
              <li>Learned the basic use and implementation of displaying styled JSON data from an API.</li>
              <li>Worked in a group designing a small web app using the MEAN stack</li>
              <li>Built various small projects displaying knowledge in languages such as JavaScript, NodeJS, Angular, and C#.</li>
            </ul>
        </div>

      </section>
    </article>
  </div>
</div>
