<article>
  WORK EXPERIENCE
Full-Stack Developer MiC Software, LLC
01/2019 - Present
Engne - Developed a custom tool to manage company morale, and offer incentives to employees. Increased participation and communication frequency by ~20%. Built from the ground up using the MEAN stack, integrated CI/CD with Azure DevOps.
Apphub - Multi-tenant driven e-commerce system (SaaS). Written using Angular with a .NET Core/ C# backend, and integrated with Azure DevOps and Azure SQL. Additionally constructed a cross-platform mobile app using Xamarin Forms.
NoGi - Platform provides the business remote video conferencing for an engaging customer experience. Built from scratch with Angular, .NET Core/C#, ASP.NET MVC, and Azure SQL.
BVS - Operated with existing services to provide some needed immediate upgrades while developing a new internal codebase using Xamarin/C#, React.js, ASP.NET, and MS SQL.
Teachers Assistant Geekwise Academy
09/2018 - 06/2019
Ensured student’s knowledge of the mobile-first website concepts, focusing on Bootstrap 3 and use of version control with Git & Github.
Women's Cohort Advisor: Led junior developers in establishing their skills in HTML, CSS, and JavaScript. Assisted in finding their strengths and helping envision their community-focused projects.
EDUCATION
Geekwise Academy
2017- 2019
Websites for Beginners (HTML & CSS), Mobile-friendly Websites, Intro to JavaScript, Women Tech Training, Application Security & Hardening, Angular 6, WordPress
DeVry University Fresno, CA
A.S. Electronics and Computer Technology 2011- 2013
Maintenance on equipment, controls and instrumentation, networking and communications
B.S. Technical Management
2013- 2014

TECHNICAL SKILLS
.NET and .NET Core (C#)
ASP.NET, EF Core
Xamarin Forms
JavaScript
TypeScript
React.js
API Integration
MS SQL, Azure SQL
Azure DevOps
Node.js, MongoDB, Mongoose
Git, Github, Visual Studio
PERSONAL PROJECTS
Developed a simple vulnerable blog app for testing inside a container using Docker. Took small implementations to harden different aspects of the app, from using Content-Security-Policy to using encryption in sensitive user input fields, resulting in a secure app.
Learned the basic use and implementation of displaying styled JSON data from an API.
Worked in a group designing a small web app using the MEAN stack
Built various small projects displaying knowledge in languages such as JavaScript, NodeJS, Angular, and C#.
LANGUAGES
English, Spanish

</article>
